@* Bir sayfanın Razor Page olduğunu ifade etmek için öncelikle sayfa başında bunu elirtmek gerekir. *@

@page "/iletisim"

<div class="text-center">
    <h1 class="h1 text-muted">Contact</h1>
    <div class="my-4 py-3 shadow">
        <h3><i class="fa-solid fa-phone-volume text-primary"></i></h3>
        <h4>+90 123 456 78 90</h4>
    </div>
    <div class="my-4 py-3 shadow">
        <h3><i class="fa-regular fa-envelope text-primary"></i></h3>
        <h4>bilgi@site.com</h4>

    </div>
    <div class="my-4 py-3 shadow">
        <h3><i class="fa-solid fa-location-dot text-primary"></i></h3>
        <h4>Yeni Mah. Sağlık Sokak No:5 Yalvaç / Isparta</h4>
    </div>
</div>