<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="my-3">
                 <a class="navbar-brand" href="/"><i class="fa-solid fa-store fa-2x text-danger "></i>
                 <h3>StoreApp</h3>
                 </a>
                 <b class="text-muted">Uygulaması</b>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                   &copy; 2024 <br> BTK Akademi ASP.NET Core MVC Eğitimi
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <a href="/" class="btn btn-secondary fs-5">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="/" class="btn btn-secondary fs-5">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="/" class="btn btn-secondary fs-5">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="/" class="btn btn-secondary fs-5">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="/" class="btn btn-secondary fs-5">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">                
                <div products="" number="5"></div>
            </div>
        </div>
    </div>
</div>