
<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/Admin">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
         <a class="nav-link" aria-current="page" asp-controller="Dashboard" asp-action="Index">
        <i class="fa-solid fa-house"></i>
        Dashboard
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Product" asp-action="Index">
        <i class="fa-solid fa-list"></i>        
        Products(@await Component.InvokeAsync("ProductSummary"))
        </a> 
        </li>
        <li class="nav-item">
          <a class="nav-link"  aria-current="page" asp-controller="Category" asp-action="Index">
        <i class="fa-solid fa-layer-group"></i>     
        Categories
        </a>     
        </li>
         <li class="nav-item">
          <a class="nav-link"  aria-current="page" asp-controller="Order" asp-action="Index">
        <i class="fa-solid fa-cart-arrow-down"></i>   
        Orders
        </a>     
        </li>
      </ul>
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <a target="_blank" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
        <i class="fa-solid fa-globe"></i>
          Web
        </a>
        </li>       
         <li class="nav-item">
         <a class="nav-link" href="/Admin">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
          Logout
        </a>
        </li> 
      </ul>
    </div>
  </div>
</nav>


